# Python Open Labs: Data wrangling with pandas

## Setup

With this Google Colaboratory (Colab) notebook open, click the "Copy to Drive" button that appears in the menu bar. The notebook will then be attached to your own user account, so you can edit it in any way you like -- you can even take notes directly in the notebook.

## Open Labs agenda

1. **Guided activity**: One of the instructors will share their screen to work through the guided activity and teach concepts along the way.

2. **Open lab time**: After the guided portion of the Open Lab, the rest of the time is for you to ask questions, work collaboratively, or have self-guided practice time. You will have access to instructors and peers for questions and support.

## Learning objectives

By the end of our workshop today, we hope you'll understand basic pandas methods for normalizing values, modifying data, dealing with missing data, and working with strings and dates.

## Today's Topics

- Replacing values in a DataFrame column
- Creating new columns using expressions
- Creating new columns with functions
- Dealing with missing values
- Working with string data
- Working with dates

## Questions during the workshop

Please feel free to ask questions throughout the workshop.

We have a second instructor who will available during the workshop. They will answer as able, and will collect questions with answers that might help everyone to be answered at the end of the workshop.

The open lab time is when you will be able to ask more questions and work together on the exercises.

## Guided Instruction

In this Open Lab we're introducing how to use the pandas library to "wrangle" data; or clean, manipulate, and prepare datasets for analysis.

In this section, we will work through examples using data from the [Museum of Modern Art (MoMA) research dataset](https://github.com/MuseumofModernArt/collection) containing records of all of the works that have been cataloged in the database of the MoMA collection.

> "The Museum’s website features 89,695 artworks from 26,494 artists. This research dataset contains 138,151 records, representing all of the works that have been accessioned into MoMA’s collection and cataloged in our database. It includes basic metadata for each work, including title, artist, date made, medium, dimensions, and date acquired by the Museum. Some of these records have incomplete information and are noted as “not Curator Approved." - [MoMA Github repository for collection data](https://github.com/MuseumofModernArt/collection)

We have prepared a dataset that consists of a subset of MoMA artworks classified as paintings and their associated artist information to use in the following activities. We will be referencing the data that we have prepared in our [Github repository for teaching datasets](https://github.com/ncsu-libraries-data-vis/teaching-datasets/tree/main/moma_data).

In [ ]:
# Import the Pandas library as pd (callable in our code as pd)

### Load the dataset

In [ ]:
# Import the MoMA paintings with artist information dataset (CSV file)
# The file location
file_url = 'https://raw.githubusercontent.com/ncsu-libraries-data-vis/teaching-datasets/main/moma_data/moma_paintings_full.csv'

# Read in the file and print out the DataFrame

In [ ]:
# Observe a summary of the DataFrame columns using the DataFrame method info()

### Replacing values in a column

We can replace values in a column by first accessing that column and using the Series method `replace()` (*remember accessing one column from a DataFrame returns a pandas Series*). The `replace()` method can accept a dictionary of items in which the dictionary keys are the values to be replaced and the dictionary values are the new values to be inserted.

We will demonstrate this method by replacing the values `Y` and `N` in the `Cataloged` column to the more explicit values `Yes` and `No`, respectively. Also, we will edit the DataFrame directly by including the keyword argument `inplace=True`.

In [ ]:
# Print the unique values contained in the "Cataloged" column using the
# DataFrame method unique()

In [ ]:
# Replace the values "Y" and "N" in the "Cataloged" column with "Yes" and "No"


# Print out the unique values of the "Cataloged" column

### Creating a new column using an expression

We can create new columns of data on an existing DataFrame and assign values calculated from existing columns of data. This is done by first calling the index of the new column (for example, `df['NEW_COLUMN_NAME']`) and assigning the new column the results of some expression that can include existing columns of data from the DataFrame.

We will create a new column named `Area (cm^2)` that contains the centimeter squared area of a painting based on the values provided in the columns `Width (cm)` and `Height (cm)`.

In [ ]:
# Create a new column "Area (cm^2)" containing the size of a painting based
# on the width and height value of the painting


# Print out the full DataFrame

### Creating a new column using apply

Sometimes we need to create new data using more complex methods than a simple expression. We will create a new column named `OilPainting` to identify all painting that contain the word "oil" in their medium description (contained in the column `medium`). This cannot be reliably accomplished without doing some advanced manipulation of the medium description.

We will use the Series method `apply()` to call the function `is_oil_based_painting`, which contains the necessary code to produce the desired results, on the column `Medium`.

In [ ]:
# Return whether a painting is oil-based (Yes) or not (No) based on the
# occurrence of the word "oil" in the artwork medium description
def is_oil_based_painting(medium):
    # Test if value is a string (can't apply string methods on NaNs)
    if type(medium) == str:
        # Create a list of lowercase words, commas removed, from description
        description = medium.lower().replace(',', '').split(' ')
        # Test if "oil" is in list
        if 'oil' in description:
            return 'Yes'
        return 'No'

# Use the Series method apply to call the "is_oil_based_painting" function on
# the column "Medium"


# Print out the resulting DataFrame

### Removing missing data

The MoMA paintings dataset contains many missing values. Missing values in a pandas are typically represented as `NaN`. We can handle missing values in several ways, removing all rows or columns containing one or more `NaN`s, removing rows or columns based on the occurrence of `NaN`s within specific rows or columns, or filling in `NaN` values with another value.

We want to work with paintings that have artist information associated with them. A painting that does not have artist information can be identified by a value of `NaN` in the column `ArtistBio`. We will create a subset of the full `paintings` DataFrame by removing all rows that contain `NaN` in the `ArtistBio` column using the DataFrame method `dropna()` and specifying a column `subset` over which to look for `NaN`s.

In [ ]:
# Create a new DataFrame containing only paintings that include artist
# information by removing rows that include "NaN" in the column "ArtistBio"
# using the DataFrame method dropna()


# Print out the resulting DataFrame

### Working with string data

A lot of the MoMA data consists of strings. There is currently no string data type in pandas, strings are represented by the pandas *object* data type. We can apply string methods to pandas arrays by accessing the `.str` attribute of the array. For example, we can access the string values of the `Artists` column in the full dataset by calling `moma_data[Artists].str`.

If we look at the `Gender` column, we see that the gender types are not represented in a normalized way (for example, female is represented in some cases by the value `Female` and in other cases `female`). We will use the `lower()` string method to produce a lowercase string for all values in the `Gender` column.

In [ ]:
# Print the unique values contained in the "Gender" column using the
# DataFrame method unique()

In [ ]:
# Reassign the column "Gender" with the results of calling the string method
# lower() on the values in the "Gender" column


# Print the unique values contained in the "Gender" column using the
# DataFrame method unique()

### Working with Datetime data

Our MoMA dataset contains some columns of data that represent date values (for example, `DateAcquired`, `BeginDate`, `EndDate`). Currently, each of these columns is recognized as strings (the pandas object datatype). If we look at the `DateAcquired` column we see that it contains the date that an artwork was acquired by the museum in the form `YYYY-MM-DD` (for example, `1964-10-06`). If we wanted to filter these values by year, we would not be able to do this in their current string format.

We can convert the values in the `DateAcquired` column to a pandas Datetime data type to use them as a datetime format, a format for a value that contains date and time information, using the pandas method `to_datetime()` on the column.

In [ ]:
# Reassign the string values in the column "DateAcquired" as Datetime values
# using the pandas method to_datetime()


# Print out the new "DateAcquired" column

We can now filter the DataFrame by date, based on the values in the `DataAcquired` column. Let's filter the cleaned paintings DataFrame to only include paintings acquired before 1960

In [ ]:
# Filter the cleaned paintings DataFrame to only include paintings acquired
# before 1960

----

## Open work time

You can use this time to ask questions, collaborate, or work on the following exercises (on your own or in a group).

For these exercises you will be using a dataset that consists of MoMA artworks classified as photographs and each photograph's associated artist information. This dataset has the same columns and column names as the original paintings dataset from the guided activity.

Before starting the exercises you will need to load the new dataset as DataFrames. It is available as a CSV file and the URL to the file is provided in the variable below.

In [ ]:
# URLs to the photographs dataset
photos_file_url = 'https://raw.githubusercontent.com/ncsu-libraries-data-vis/teaching-datasets/main/moma_data/moma_photographs_full.csv'

# Import the photographs dataset as a DataFrame

### Exercise 1: Rename column values

In the photographs dataset, replace the values in the column `Cataloged`. Replace all occurrences of the value `Y` with the value `Yes` and all occurrences of the value `N` with the value `No`. Overwrite the existing values with the new values.

In [ ]:
# Replace the values "Y" and "N" in the "Cataloged" column with "Yes" and "No"

### Exercise 2: Create a new column using an expression

Create a new column, `Aspect`, that contains the aspect ratio (width / height) of a photograph using the values in the `Width (cm)` and `Height (cm)` columns.

In [ ]:
# Create a new column named "Aspect" that contains the aspect ratio of a
# photograph based on the values in columns "Width (cm)" and "Height (cm)"

### Exercise 3: Create a new column using apply

Use the values in the column `BeginDate` to create a new column, `CenturyBorn`, in the photos DataFrame that indicates the century in which an artist was born using a function that returns:
- `18th` if the artist was born between 1700-1799,
- `19th` if the artist was born between 1800-1899,
- `20th` if the artist was born between 1900-1999,
- `21st` if the artist was born between 2000-present, and
- `unknown` otherwise.

The `BeginDate` column contains the year in which an artist was born. Unknown artist birth years are identified with the value `0`. The function `century_born()` has been provided for you to use with the apply method, but you can create your own for extra practice.

In [ ]:
# Return the century in which an artist was born given their birth year
def century_born(year):
    if year > 1999:
        return '21st'
    elif year > 1899:
        return '20th'
    elif year > 1799:
        return '19th'
    elif year > 1699:
        return '18th'
    return 'unknown'

# Create a new column named "CenturyBorn" that contains the century in which an
# artist was born using data from the column "BeginDate" and the function
# century_born

### Exercise 4: Remove missing values

We are only interested in artworks that have a defined width and height. Use the column `Aspect` to remove any rows from the dataset that do not have a defined aspect ratio (in other words, values that are `NaN`).

In [ ]:
# Remove rows from the dataset that have an "NaN" value in the "Aspect" column

### Exercise 5: Use a string method to normalize data

Normalize the values in the column `Gender` by applying the string method `title()` to convert all strings to title case (for example, convert `male` to `Male` and `female` to `Female`). Print out the unique values of this column after performing the operation to ensure only three values are present (`Male`, `Female`, and `nan`).

In [ ]:
# Normalize the string values in the "Gender" column to title case (each word
# beginning with a capital letter)

### Exercise 6: Convert string data to Datetime

Convert the string data contained in the column `DateAcquired` to Datetime data type. Reassign the new Datetime values to the existing `DateAcquired` column and then use this column to filter the DataFrame for items acquired in or after the year 2020.

In [ ]:
# Convert the string data in the column "DateAcquired" to a Datetime data type


# Use the updated column to filter the DataFrame to photos acquired in or after
# the year 2020

## Further resources

### Filled version of this notebook

[Python Open Labs Week 3 filled notebook](https://colab.research.google.com/github/ncsu-libraries-data-vis/python-open-labs/blob/main/Open_Lab_3_data_wrangling_with_pandas/filled_Open_Lab_3_data_wrangling_with_pandas.ipynb) - a version of this notebook with all code filled in for the guided activity and exercises.

### Learning resources

- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html) - a free, online version of Jake VanderPlas' introduction to data science with Python, includes a chapter on data manipulation with pandas.
- [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) - a website providing a great overview of conducting data science with Python including pandas.
- [Real Python](https://realpython.com/) contains a lot of different tutorials at different levels
- [LinkedIn Learning](https://www.lynda.com/Python-training-tutorials/415-0.html) is free with NC State accounts and contains several video series for learning Python
- [Dataquest](https://www.dataquest.io/) is a free then paid series of courses with an emphasis on data science

### Finding help with pandas

The [Pandas website](https://pandas.pydata.org/) and [online documentation](http://pandas.pydata.org/pandas-docs/stable/) are useful resources, and of course the indispensible [Stack Overflow has a "pandas" tag](https://stackoverflow.com/questions/tagged/pandas).  There is also a (much younger, much smaller) [sister site dedicated to Data Science questions that has a "pandas" tag](https://datascience.stackexchange.com/questions/tagged/pandas) too.

## Evaluation Survey
Please, spend 1 minute answering these questions that help improve future workshops.

[go.ncsu.edu/dvs-eval](https://go.ncsu.edu/dvs-eval)

## Credits

This workshop was created by Claire Cahoon and Walt Gurley, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.