# Python Open Labs: Exploratory analysis with pandas

## Setup
With this Google Colaboratory (Colab) notebook open, click the "Copy to Drive" button that appears in the menu bar. The notebook will then be attached to your own user account, so you can edit it in any way you like -- you can even take notes directly in the notebook.

## Instructors
- Walt Gurley
- Claire Cahoon

## Open Labs agenda

1.   **Guided activity**: One of the instructors will share their screen to work through the guided activity and teach concepts along the way.

2.   **Open lab time**: After the guided portion of the Open Lab, the rest of the time is for you to ask questions, work collaboratively, or have self-guided practice time. You will have access to instructors and peers for questions and support.

Breakout rooms will be available if you would like to work in small groups. If you have trouble joining a room, ask in the chat to be moved into a room.

## Learning objectives

By the end of the workshop today, we hope you'll by able to explore datasets using aggregation methods and grouping.

## Today's Topics
- Exploratory analysis
- Unique values
- Value counts
- Minimum, maximum, and average
- Grouping using `groupby()`

## Questions during the workshop

Please feel free to ask questions throughout the workshop.

We have a second instructor who will available during the workshop. They will answer as able, and will collect questions with answers that might help everyone to be answered at the end of the workshop.

The open lab time is when you will be able to ask more questions and work together on the exercises.

## Using Jupyter Notebooks and Google Colaboratory

Jupyter notebooks are a way to write and run Python code in an interactive way. They're quickly becoming a standard way of putting together data, code, and written explanations or visualizations into a single document and sharing that. There are a lot of ways that you can run Jupyter notebooks, including just locally on your computer, but we've decided to use Google's Colaboratory notebook platform for this workshop.  Colaboratory is “a Google research project created to help disseminate machine learning education and research.”  If you would like to know more about Colaboratory in general, you can visit the [Welcome Notebook](https://colab.research.google.com/notebooks/welcome.ipynb).

Using the Google Colaboratory platform allows us to focus on learning and writing Python in the workshop rather than on setting up Python, which can sometimes take a bit of extra work depending on platforms, operating systems, and other installed applications. If you'd like to install a Python distribution locally, though, we're happy to help. Feel free to [get help from our graduate consultants](https://www.lib.ncsu.edu/dxl) or [schedule an appointment with Libraries staff](https://go.ncsu.edu/dvs-request).

## Guided Instruction
In this section, we will work through examples using data from the [Museum of Modern Art (MoMA) research dataset](https://github.com/MuseumofModernArt/collection) containing records of all of the works that have been cataloged in the database of the MoMA collection.

We have split the dataset into several different subsections (paintings, sculptures, photographs, and artist information) and file types to use in activities. We will be referencing the data that we have prepared in our [Github repository for teaching datasets](https://github.com/ncsu-libraries-data-vis/teaching-datasets/tree/main/moma_data).

### Exploratory analysis of the dataset

After observing and cleaning our dataset, it is now easier to conduct analyses on our data. We will conduct some numerical and visual analyses that will help us explore questions such as:

- How many unique species have been identified in the data set?
- Which species are struck the most?
- How have number of strikes changed over time?
- Are there times of the year when most strikes occur?
- How frequently are land-based animals involved?

We can do this by calculating summaries of rows and columns, grouping data, and visualizing the results.

### Importing the dataset

In [1]:
# Import the pandas library as pd (callable in our code as pd)
import pandas as pd

In [7]:
# Import the data from a csv file
# This dataset was cleaned based on methods from previous workshops
csv_file_url = 'moma_data_workshop2.csv'
# TODO - change this to the cleaned dataset

art = pd.read_csv(csv_file_url)

# Print out the first five columns of the dataset
art.head()

,Unnamed: 0,Index,Title,Artist,ConstituentID,Date,Medium,Dimensions,CreditLine,AccessionNumber,...,Width (cm),Seat Height (cm),Duration (sec.),DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,ULAN
0,0,32095,"Rope and People, I",Joan Miró,4016.0,"Barcelona, March 27, 1935","Oil on cardboard mounted on wood, with coil of...","41 1/4 x 29 3/8"" (104.8 x 74.6 cm)",Gift of the Pierre Matisse Gallery,71.1936,...,74.6,NaN,NaN,Joan Miró,"Spanish, 1893–1983",Spanish,Male,1893.0,1983.0,500014094.0
1,1,33167,Fire in the Evening,Paul Klee,3130.0,1929,Oil on cardboard,"13 3/8 x 13 1/4"" (33.8 x 33.3 cm)",Mr. and Mrs. Joachim Jean Aberbach Fund,153.1970,...,33.3,NaN,NaN,Paul Klee,"German, born Switzerland. 1879–1940",German,Male,1879.0,1940.0,500010493.0
2,2,33424,Portrait of an Equilibrist,Paul Klee,3130.0,1927,Oil and collage on cardboard over wood with pa...,"24 7/8 x 15 3/4"" (63.2 x 40 cm)",Mrs. Simon Guggenheim Fund,195.1966,...,36.8,NaN,NaN,Paul Klee,"German, born Switzerland. 1879–1940",German,Male,1879.0,1940.0,500010493.0
3,3,34481,Guitar,Pablo Picasso,4609.0,"Paris, early 1919","Oil, charcoal and pinned paper on canvas","7' 1"" x 31"" (216 x 78.8 cm)",Gift of A. Conger Goodyear,384.1955,...,78.7,NaN,NaN,Pablo Picasso,"Spanish, 1881–1973",Spanish,Male,1881.0,1973.0,500009666.0
4,4,35396,Grandmother,Arthur Dove,1602.0,1925,"Shingles, needlepoint, page from Concordance, ...","20 x 21 1/4"" (50.8 x 54.0 cm)",Gift of Philip L. Goodwin (by exchange),636.1939,...,54.0,NaN,NaN,Arthur Dove,"American, 1880–1946",American,Male,1880.0,1946.0,500018046.0

### Aggregation Methods

There are several methods that can be used to calculate aggregated values from the dataset, such as the number of unique values, unique value counts, minimum, maximum, and average.

#### Unique


We can use the `unique()` method on the "Artist" column to create an array of unique artist names. 

The length of this array will provide the number of unique artist.

In [8]:
# Create a list of the unique artists with unique()
unique_artists = art['Artist'].unique()

# Print out the unique artists
unique_artists

array(['Joan Miró', 'Paul Klee', 'Pablo Picasso', ..., 'Romuald Hazoumè',
       'Ivan Kožarić', 'Guadalupe Maravilla'], dtype=object)

In [9]:
# Get the length of the new array using len()
# How many unique species are there?
len(unique_artists)

3663

#### Value counts

Value counts show how many instances there are of each unique entry in a column. Here, we are interested in seeing the gender breakdown for works of art, or how many pieces of art were created by different genders. This might be interesting as part of an equity audit to make sure the museum is representing all different kinds of artists and artwork.

We will specify the `Gender` column in our dataset and call the method `value_counts()`. This will return a Series with an index label of each unique gender and a value corresponding to the count of that gender identity in the `Gender` column.

In [13]:
# Count the occurance of unique values on the column 'Gender'
gender = art['Gender'].value_counts()

# Sort the Series by the value counts using sort_values()
gender.sort_values(ascending=False)

Male          27626
Female         4274
male             11
female            2
Non-Binary        1
Name: Gender, dtype: int64

#### Minimum, maximum, average...

We can also calculate aggregates like the minimum, maximum, and mean of values in a DataFrame or Series. Here are a few examples:

- `mean()` to find the average of a range
- `min()` to find the smallest value
- `max()` to find the largest value
- `sum()` to sum the values of a range

In [14]:
# Calculate the minimum values for each column
# Note the minimum values for columns not containing numbers (e.g., the minimum
# for strings is alphabetical order, with uppercase characters preceeding
# lowercase characters - "B" comes before "a")
art.min()

Unnamed: 0                            0
Index                             30700
ConstituentID                         3
AccessionNumber                  1.1931
Classification                 Painting
Department            Drawings & Prints
Cataloged                             N
ObjectID                          32009
Circumference (cm)                  NaN
Depth (cm)                            0
Diameter (cm)                      2.54
Height (cm)                           0
Length (cm)                          15
Weight (kg)                      0.1984
Width (cm)                            0
Seat Height (cm)                    NaN
Duration (sec.)                       0
BeginDate                             0
EndDate                               0
ULAN                              5e+08
dtype: object

In [15]:
# Calculate the average height for all pieces of art in this collection
art['Height (cm)'].mean()

40.58163551713594

In [16]:
# Calculate the minimum, maximum, and average diameter for art in this collection
art['Diameter (cm)'].agg(['mean', 'min', 'max'])

mean     87.640676
min       2.540000
max     914.400000
Name: Diameter (cm), dtype: float64

### Group values using groupby

We may be interested in seeing our data in groups. For example, what does the data look like if we group by nationality and find the count of each column? Which nationalities are represented in this collection and how frequently?

We can do this by calling `groupby()` on our dataset and passing in the column we would like to group by. We will group our data by the column `Nationality`, find the count of each column in the grouped data, and sort by the `COST_REPAIRS_INFL_ADJ` column to see which month has the highest average cost.

In [29]:
# Group the dataset by "Department"
art_by_dept = art.groupby('Department')

# This creates a groupby object that contains information about the groups
type(art_by_dept)

# Find the mean of the grouped data, then sort by "Height (cm)"
art_by_dept.mean().sort_values('Height (cm)')

,Unnamed: 0,Index,ConstituentID,ObjectID,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.),BeginDate,EndDate,ULAN
Department,,,,,,,,,,,,,,,,
Fluxus Collection,30282.359091,109677.795455,14551.755102,172379.536364,NaN,3.781317,6.000000,14.518334,NaN,NaN,14.259659,NaN,NaN,1794.821429,1272.433673,5.000916e+08
Drawings & Prints,29256.569752,115318.924381,14627.330592,183666.623207,NaN,3.805625,23.350000,25.404881,15.0000,NaN,19.235877,NaN,NaN,1823.736842,1205.162829,5.000694e+08
Photography,17723.439974,69241.929767,7801.758690,97990.883919,NaN,6.433524,8.041579,29.104587,NaN,226.798512,32.255010,NaN,280.0,1690.352939,1197.956445,5.000424e+08
Media and Performance,29056.312741,116560.980695,27078.718147,211828.474903,NaN,4.201044,2.540000,36.647276,NaN,NaN,44.029434,NaN,1860.0,1951.061776,407.915058,5.001823e+08
Film,7516.285714,97180.685714,36838.057143,127120.400000,NaN,0.000000,NaN,103.164188,NaN,NaN,58.190811,NaN,NaN,1684.142857,1757.142857,5.001731e+08
Painting & Sculpture,14203.084755,83035.480810,7506.278518,101656.698028,NaN,52.635795,126.600455,121.442168,615.4936,1383.453175,127.378851,NaN,NaN,1914.640458,1374.581290,5.000447e+08

You can also use `groupby()` to group data by multiple variables. We will create a hierarchical grouping of `INCIDENT_MONTH` and then `PRECIPITATION` to see the counts of different types of precipitation in each month using the `size()` groupby method.

In [40]:
# Preview the unique values in the "" column TODO

# Group the data by Department and then gender and get the count of
# recorded genders in each department using size()
art.groupby(['Department','Gender']).size()

Department             Gender
Drawings & Prints      Female           45
                       Male            518
Film                   Male             31
Fluxus Collection      Female           22
                       Male            160
Media and Performance  Female           63
                       Male            196
Painting & Sculpture   Female          498
                       Male           3234
                       Non-Binary        1
                       female            2
                       male              5
Photography            Female         3646
                       Male          23487
                       male              6
dtype: int64

## Open work time
You can use this time to ask questions, collaborate, or work on the following activities (on your own or in a group).

### Exercise 1: Aggregation

**TODO make these about the photographs dataset

Find the average, minimum, and maximum from the column 'SPEED'.

In [ ]:
# Get general statistics of altitude when strike occured
wl_strikes['SPEED'].agg(['mean', 'min', 'max'])

### Exercise 2: Grouping Values

Find how expensive repairs (the data in column `'COST_REPAIRS_INFL_ADJ'`) were at each time of day (dawn, dusk, day, and night). Group the data using `TIME_OF_DAY`, then show a table with the average cost of repairs for each time of day, sorted from least expensive to most expensive.



> Bonus discussion question: does showing the data this way tell the whole story? What other factors could affect these numbers?

In [ ]:
# Create a variable that stores clean_data grouped by TIME_OF_DAY
data_by_month = wl_strikes.groupby('TIME_OF_DAY')

# Find the mean of the data based on the cost of repairs
data_by_month = data_by_month.mean()

#View the data, sorted by least to most expensive
data_by_month['COST_REPAIRS_INFL_ADJ'].sort_values()

### Exercise 3: Calculate strike totals by month

We're considering if there might be a relationship between the number of strikes and bird migration occurance (March-April and August-November -- see [Bird Migration and Areas With Sensitive Fauna](https://www.faa.gov/air_traffic/publications/atpubs/aip_html/part2_enr_section_5.6.html)). Find the total strikes by month to observe any patterns that might occur at the temporal level of month by creating a bar chart of total strikes by month.



> Hint: To rotate a chart, there is a keyword that you can add to the `plot()` method. `rot` specifies the rotation of the x-axis tick labels (0.5 = 90 degrees rotation). Example: `your_data.plot(kind='bar', rot=.5)`

In [ ]:
# Get the number of strikes that occured during a specific month
strikes_by_month = wl_strikes['INCIDENT_MONTH'].value_counts()

# Sort the new Series by the index values, the month number
strikes_by_month = strikes_by_month.sort_index()

# Create a bar chart with the data, rotate the x-axis tick labels by 90 degrees
strikes_by_month.plot(kind='bar', rot=.5)

## Further resources

### Filled version of this notebook

[Python Open Labs Week 1 filled notebook](https://colab.research.google.com/github/ncsu-libraries-data-vis/python-open-labs/blob/main/Open_Lab_1_reading_exploring_and_writing_data_with_pandas/filled_Open_Lab_1_reading_exploring_and_writing_data_with_pandas.ipynb) - a version of this notebook with all code filled in for the guided activity and exercises. TODO
### Learning resources

- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html) - a free, online version of Jake VanderPlas' introduction to data science with Python, includes a chapter on data manipulation with pandas.
- [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) - a website providing a great overview of conducting data science with Python including pandas.
- [Real Python](https://realpython.com/) contains a lot of different tutorials at different levels
- [LinkedIn Learning](https://www.lynda.com/Python-training-tutorials/415-0.html) is free with NC State accounts and contains several video series for learning Python
- [Dataquest](https://www.dataquest.io/) is a free then paid series of courses with an emphasis on data science

### Finding help with pandas

The [Pandas website](https://pandas.pydata.org/) and [online documentation](http://pandas.pydata.org/pandas-docs/stable/) are useful resources, and of course the indispensible [Stack Overflow has a "pandas" tag](https://stackoverflow.com/questions/tagged/pandas).  There is also a (much younger, much smaller) [sister site dedicated to Data Science questions that has a "pandas" tag](https://datascience.stackexchange.com/questions/tagged/pandas) too.

## Evaluation Survey
Please, spend 1 minute answering these questions that help improve future workshops.

https://go.ncsu.edu/dvs-eval

## Credits

This workshop was created by Claire Cahoon and Walt Gurley, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.