# Python Open Labs: Exploratory analysis with pandas

## Setup
With this Google Colaboratory (Colab) notebook open, click the "Copy to Drive" button that appears in the menu bar. The notebook will then be attached to your own user account, so you can edit it in any way you like -- you can even take notes directly in the notebook.

## Instructors
- Walt Gurley
- Claire Cahoon

## Open Labs agenda

1.   **Guided activity**: One of the instructors will share their screen to work through the guided activity and teach concepts along the way.

2.   **Open lab time**: After the guided portion of the Open Lab, the rest of the time is for you to ask questions, work collaboratively, or have self-guided practice time. You will have access to instructors and peers for questions and support.

Breakout rooms will be available if you would like to work in small groups. If you have trouble joining a room, ask in the chat to be moved into a room.

## Learning objectives

By the end of the workshop today, we hope you'll...
TODO

Series announcement: In this lab we will cover common exploratory analysis methods such as calculating summary statistics and aggregating and grouping data using pandas. 

## Today's Topics
- TODO
- Exploratory analysis
- Counts by nationality or gender
- Comparing measurements
- Dates over time (add in factors like nationality or gender)

## Questions during the workshop

Please feel free to ask questions throughout the workshop.

We have a second instructor who will available during the workshop. They will answer as able, and will collect questions with answers that might help everyone to be answered at the end of the workshop.

The open lab time is when you will be able to ask more questions and work together on the exercises.

## Using Jupyter Notebooks and Google Colaboratory

Jupyter notebooks are a way to write and run Python code in an interactive way. They're quickly becoming a standard way of putting together data, code, and written explanations or visualizations into a single document and sharing that. There are a lot of ways that you can run Jupyter notebooks, including just locally on your computer, but we've decided to use Google's Colaboratory notebook platform for this workshop.  Colaboratory is “a Google research project created to help disseminate machine learning education and research.”  If you would like to know more about Colaboratory in general, you can visit the [Welcome Notebook](https://colab.research.google.com/notebooks/welcome.ipynb).

Using the Google Colaboratory platform allows us to focus on learning and writing Python in the workshop rather than on setting up Python, which can sometimes take a bit of extra work depending on platforms, operating systems, and other installed applications. If you'd like to install a Python distribution locally, though, we're happy to help. Feel free to [get help from our graduate consultants](https://www.lib.ncsu.edu/dxl) or [schedule an appointment with Libraries staff](https://go.ncsu.edu/dvs-request).

## Guided Instruction
In this section, we will work through examples using data from the [Museum of Modern Art (MoMA) research dataset](https://github.com/MuseumofModernArt/collection) containing records of all of the works that have been cataloged in the database of the MoMA collection.

We have split the dataset into several different subsections (paintings, sculptures, photographs, and artist information) and file types to use in activities. We will be referencing the data that we have prepared in our [Github repository for teaching datasets](https://github.com/ncsu-libraries-data-vis/teaching-datasets/tree/main/moma_data).

### Exploratory analysis of the dataset

After observing and cleaning our dataset, it is now easier to conduct analyses on our data. We will conduct some numerical and visual analyses that will help us explore questions such as:

- How many unique species have been identified in the data set?
- Which species are struck the most?
- How have number of strikes changed over time?
- Are there times of the year when most strikes occur?
- How frequently are land-based animals involved?

We can do this by calculating summaries of rows and columns, grouping data, and visualizing the results.

### Importing the dataset

In [2]:
# Import the pandas library as pd (callable in our code as pd)
import pandas as pd

In [22]:
# Import the data from a csv file
# This dataset was cleaned based on methods from previous workshops
csv_file_url = 'https://raw.githubusercontent.com/ncsu-libraries-data-vis/teaching-datasets/main/moma_data/moma_artists.csv'
# TODO - change this to the cleaned dataset

art = pd.read_csv(csv_file_url)

# Print out the first five columns of the dataset
art.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN

### Aggregation Methods

There are several methods that can be used to calculate aggregated values from the dataset, such as the number of unique values, unique value counts, minimum, maximum, and average.

#### Unique


We can use the `unique()` method on the "Artist" column to create an array of unique artist names. 

The length of this array will provide the number of unique artist.

In [23]:
# Create a list of the unique artists with unique()
unique_artists = art['Artist'].unique()

# Print out the unique artists
unique_artists

KeyError: 'Artist'

In [9]:
# Get the length of the new array using len()
# How many unique species are there?
len(unique_artists)

13685

#### Value counts

Value counts show how many instances there are of each unique entry in a column. Here, we are interested in seeing the gender breakdown for works of art, or how many pieces of art were created by different genders. This might be interesting as part of an equity audit to make sure the museum is representing all different kinds of artists and artwork.

We will specify the `Gender` column in our dataset and call the method `value_counts()`. This will return a Series with an index label of each unique gender and a value corresponding to the count of that gender identity in the `Gender` column.

In [24]:
# Count the occurance of unique values on the column 'Gender'
gender = art['Gender'].value_counts()

# Sort the Series by its index using sort_index(), to help view yearly trend
gender.sort_index()

Female        2300
Male          9762
Non-Binary       2
Non-binary       1
female           1
male            15
Name: Gender, dtype: int64

#### Minimum, maximum, average...

We can also calculate aggregates like the minimum, maximum, and mean of values in a DataFrame or Series. Here are a few examples:

- `mean()` to find the average of a range
- `min()` to find the smallest value
- `max()` to find the largest value
- `sum()` to sum the values of a range

In [13]:
# Calculate the minimum values for each column
# Note the minimum values for columns not containing numbers (e.g., the minimum
# for strings is alphabetical order, with uppercase characters preceeding
# lowercase characters - "B" comes before "a")
art.min()

AccessionNumber                      1.1929
Classification               (not assigned)
Department            Architecture & Design
Cataloged                                 N
ObjectID                                  2
Circumference (cm)                      9.9
Depth (cm)                                0
Diameter (cm)                         0.635
Height (cm)                               0
Length (cm)                               0
Weight (kg)                            0.09
Width (cm)                                0
Seat Height (cm)                        NaN
Duration (sec.)                           0
dtype: object

In [17]:
# Calculate the average height for all pieces of art in this collection
art['Height (cm)'].mean()

37.45612361859556

In [19]:
# Calculate the minimum, maximum, and average diameter for art in this collection
art['Diameter (cm)'].agg(['mean', 'min', 'max'])

mean     23.094845
min       0.635000
max     914.400000
Name: Diameter (cm), dtype: float64

### Group values using groupby

We may be interested in seeing our data in groups. For example, what does the data look like if we group by nationality and find the count of each column? Which nationalities are represented in this collection and how frequently?

We can do this by calling `groupby()` on our dataset and passing in the column we would like to group by. We will group our data by the column `Nationality`, find the count of each column in the grouped data, and sort by the `COST_REPAIRS_INFL_ADJ` column to see which month has the highest average cost. TODO - sort by?

In [31]:
# Group the dataset by "Nationality"
art_by_nationality = art.groupby('Date')

# TODO - Potentially groupby the year of the artwork and then find gender or nationality counts?

# This creates a groupby object that contains information about the groups
type(art_by_nationality)

# Find the mean of the grouped data, then sort by "COST_REPAIRS_INFL_ADJ"
art_by_nationality.mean()

#.sort_values('COST_REPAIRS_INFL_ADJ')

KeyError: 'Date'

You can also use `groupby()` to group data by multiple variables. We will create a hierarchical grouping of `INCIDENT_MONTH` and then `PRECIPITATION` to see the counts of different types of precipitation in each month using the `size()` groupby method.

In [ ]:
# Preview the unique values in the "PRECIPITATION" column
wl_strikes['PRECIPITATION'].unique()

# Group the data by month and then precipitation and get the count of each type
# of precipitation during each month using size()
wl_strikes.groupby(['INCIDENT_MONTH', 'PRECIPITATION']).size()

## Open work time
You can use this time to ask questions, collaborate, or work on the following activities (on your own or in a group).

### Exercise 1: Aggregation

**TODO make these about the photographs dataset or similar

Find the average, minimum, and maximum from the column 'SPEED'.

In [ ]:
# Get general statistics of altitude when strike occured
wl_strikes['SPEED'].agg(['mean', 'min', 'max'])

### Exercise 2: Grouping Values

Find how expensive repairs (the data in column `'COST_REPAIRS_INFL_ADJ'`) were at each time of day (dawn, dusk, day, and night). Group the data using `TIME_OF_DAY`, then show a table with the average cost of repairs for each time of day, sorted from least expensive to most expensive.



> Bonus discussion question: does showing the data this way tell the whole story? What other factors could affect these numbers?

In [ ]:
# Create a variable that stores clean_data grouped by TIME_OF_DAY
data_by_month = wl_strikes.groupby('TIME_OF_DAY')

# Find the mean of the data based on the cost of repairs
data_by_month = data_by_month.mean()

#View the data, sorted by least to most expensive
data_by_month['COST_REPAIRS_INFL_ADJ'].sort_values()

### Exercise 3: Calculate strike totals by month

We're considering if there might be a relationship between the number of strikes and bird migration occurance (March-April and August-November -- see [Bird Migration and Areas With Sensitive Fauna](https://www.faa.gov/air_traffic/publications/atpubs/aip_html/part2_enr_section_5.6.html)). Find the total strikes by month to observe any patterns that might occur at the temporal level of month by creating a bar chart of total strikes by month.



> Hint: To rotate a chart, there is a keyword that you can add to the `plot()` method. `rot` specifies the rotation of the x-axis tick labels (0.5 = 90 degrees rotation). Example: `your_data.plot(kind='bar', rot=.5)`

In [ ]:
# Get the number of strikes that occured during a specific month
strikes_by_month = wl_strikes['INCIDENT_MONTH'].value_counts()

# Sort the new Series by the index values, the month number
strikes_by_month = strikes_by_month.sort_index()

# Create a bar chart with the data, rotate the x-axis tick labels by 90 degrees
strikes_by_month.plot(kind='bar', rot=.5)

## Further resources

### Filled version of this notebook

[Python Open Labs Week 1 filled notebook](https://colab.research.google.com/github/ncsu-libraries-data-vis/python-open-labs/blob/main/Open_Lab_1_reading_exploring_and_writing_data_with_pandas/filled_Open_Lab_1_reading_exploring_and_writing_data_with_pandas.ipynb) - a version of this notebook with all code filled in for the guided activity and exercises. TODO
### Learning resources

- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html) - a free, online version of Jake VanderPlas' introduction to data science with Python, includes a chapter on data manipulation with pandas.
- [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) - a website providing a great overview of conducting data science with Python including pandas.
- [Real Python](https://realpython.com/) contains a lot of different tutorials at different levels
- [LinkedIn Learning](https://www.lynda.com/Python-training-tutorials/415-0.html) is free with NC State accounts and contains several video series for learning Python
- [Dataquest](https://www.dataquest.io/) is a free then paid series of courses with an emphasis on data science

### Finding help with pandas

The [Pandas website](https://pandas.pydata.org/) and [online documentation](http://pandas.pydata.org/pandas-docs/stable/) are useful resources, and of course the indispensible [Stack Overflow has a "pandas" tag](https://stackoverflow.com/questions/tagged/pandas).  There is also a (much younger, much smaller) [sister site dedicated to Data Science questions that has a "pandas" tag](https://datascience.stackexchange.com/questions/tagged/pandas) too.

## Evaluation Survey
Please, spend 1 minute answering these questions that help improve future workshops.

https://go.ncsu.edu/dvs-eval

## Credits

This workshop was created by Claire Cahoon and Walt Gurley, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.