# Python Open Labs: Reading, exploring, and writing data with Pandas

## Setup
With this Google Colaboratory (Colab) notebook open, click the "Copy to Drive" button that appears in the menu bar. The notebook will then be attached to your own user account, so you can edit it in any way you like -- you can even take notes directly in the notebook.

## Instructors
- Walt Gurley
- Claire Cahoon

## Open Labs agenda

1.   **Guided activity**: One of the instructors will share their screen to work through the guided activity and teach concepts along the way.

2.   **Open lab time**: After the guided portion of the Open Lab, the rest of the time is for you to ask questions, work collaboratively, or have self-guided practice time. You will have access to instructors and peers for questions and support.

Breakout rooms will be available if you would like to work in small groups. If you have trouble joining a room, ask in the chat to be moved into a room.

## Learning objectives

By the end of our workshop today, we hope you'll understand what the pandas library is and be able to work with pandas data structures like a `Series` and a `DataFrame`.

## Today's Topics
- What is pandas, and how does it relate to Python?
- Importing and using pandas
- How to read data into pandas
- Common pandas data structures (`Series` and `DataFrame`)
- Referencing data in a `DataFrame`
- How to write data from pandas

## Questions during the workshop

Please feel free to ask questions throughout the workshop.

We have a second instructor who will available during the workshop. They will answer as able, and will collect questions with answers that might help everyone to be answered at the end of the workshop.

The open lab time is when you will be able to ask more questions and work together on the exercises.

### Using Jupyter Notebooks and Google Colaboratory

Jupyter notebooks are a way to write and run Python code in an interactive way. They're quickly becoming a standard way of putting together data, code, and written explanations or visualizations into a single document and sharing that. There are a lot of ways that you can run Jupyter notebooks, including just locally on your computer, but we've decided to use Google's Colaboratory notebook platform for this workshop.  Colaboratory is “a Google research project created to help disseminate machine learning education and research.”  If you would like to know more about Colaboratory in general, you can visit the [Welcome Notebook](https://colab.research.google.com/notebooks/welcome.ipynb).

Using the Google Colaboratory platform allows us to focus on learning and writing Python in the workshop rather than on setting up Python, which can sometimes take a bit of extra work depending on platforms, operating systems, and other installed applications. If you'd like to install a Python distribution locally, though, we're happy to help. Feel free to [get help from our graduate consultants](https://www.lib.ncsu.edu/dxl) or [schedule an appointment with Libraries staff](https://go.ncsu.edu/dvs-request).

## Guided Instruction
This week we're introducing the Pandas library for Python and working on importing, viewing, and referencing the data.

In this section, we will work through examples using data from the [Museum of Modern Art (MoMA) research dataset](https://github.com/MuseumofModernArt/collection) containing records of all of the works that have been cataloged in the database of the MoMA collection.

> "The Museum’s website features 89,695 artworks from 26,494 artists. This research dataset contains 138,151 records, representing all of the works that have been accessioned into MoMA’s collection and cataloged in our database. It includes basic metadata for each work, including title, artist, date made, medium, dimensions, and date acquired by the Museum. Some of these records have incomplete information and are noted as “not Curator Approved." - [MoMA Github repository for collection data](https://github.com/MuseumofModernArt/collection)

### What is a Python library?

A "Library" in this context is a package of code that adds to the functionality of Python. Base Python offers a lot of features, but not everything -- Python libraries can be imported at the beginning of your code to use for your specific purpose. 

For example, you may import Matplotlib to create graphs and plots, or Natural Language Toolkit (NLTK) to do natural language processing. Today we will be using the pandas library to manipulate a dataset.

### What is Pandas?

Pandas is a high-level data manipulation tool first created in 2008 by Wes McKinney. The name comes from the term “panel data,” an econometrics term for data sets that include observations over multiple time periods for the same individuals.<sup>[[wikipedia](https://en.wikipedia.org/wiki/Pandas_(software))]</sup>

From Jake Vanderplas’ book [**Python Data Science Handbook**](http://shop.oreilly.com/product/0636920034919.do):

> As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

#### What does Pandas do?
* Reading and writing data from persistent storage
* Cleaning, filtering, and otherwise preparing data
* Calculating statistics and analyzing data
* Visualization with help from Matplotlib

We can learn more about Pandas by using the help window in Google Colab.

In [ ]:
# Type the function with a question mark afterwards and run the code to pull up a help window.
# Here we will find out more about Pandas
pd?

### Importing a Python library

To use any library, we must import it into our Python document.

In [2]:
# Import the Pandas library as pd (callable in our code as pd)
import pandas as pd
pd?

### Importing files into Pandas
We have prepared the data from the FAA website for this workshop. We will import those datasets into our notebook to use them for data analysis.

Datasets can be stored in several types of files, including .csv, .json, .txt, .xls, .xlsx, and more. Here we will import a .csv file and a .json file.

TODO - fix these preview links

- [Preview the CSV file](https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv)
- [Preview the JSON file](https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2010-2019.json)

CSV Files

A comma separated values (CSV) file is a plain text file containing data separated by commas.

In [5]:
# Import a comma-sperated values (csv) file as a DataFrame

# The file location
new_csv_file_url = 'https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv'

# Read in the file and print out the DataFrame
art_csv = pd.read_csv(new_csv_file_url)
art_csv.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

JSON Files

JSON (JavaScript Object Notation) is a data storage format that uses name/value pairs to create objects and associative arrays. Learn more about [JSON files structure and syntax from W3Schools](https://www.w3schools.com/js/js_json_syntax.asp)

In [10]:
# Importing a JavaScript object notation (JSON) file

# The file location
json_file_url = ''
# TODO - find a JSON link

# Read in the file and print out the DataFrame
art_json = pd.read_json(json_file_url)
art_json.head()

ValueError: Expected object or value

### Pandas data structures

Pandas uses two main data structures: `Series` and `DataFrame`.

<img src="https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Data_Manipulation_with_Python/assets/nc_dataframes.png" alt="DataFrames are composed of Series" width="80%">

#### `Series`
A `Series` is a one-dimensional array of indexed data, or a single column of data. It can be thought of as a specialized dictionary or a generalized NumPy array. You can learn more about the Series data type in the [Pandas documentation for Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html).

#### `DataFrame`
A `DataFrame` is a two-dimensional array composed of one or more `Series`, similar to tabluar data (think of Excel). They can optionally have an `Index` and have flexible row indices and flexible column names. 

It can be thought of as a generalization of a two-dimensional NumPy array, or a specialization of a dictionary in which each column name maps to a `Series` of column data. You can learn more about the DataFrame data type in the [Pandas documentation for DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html).

A `DataFrame` is made up of `Series` in a similar way in which a table is made up of columns. The only restriction is that each column must be of the same data type.  Many of the operations that can be performed on a `DataFrame` can also be performed on an individual `Series`.

In [11]:
# The csv file we imported earlier was stored in a DataFrame.
# Let's look at that data:
art_csv

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.600000,NaN,NaN,168.900000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.640100,NaN,NaN,29.845100,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.300000,NaN,NaN,31.800000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.800000,NaN,NaN,50.800000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.400000,NaN,NaN,19.100000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138146,Untitled,"Chesnutt Brothers Studio, Andrew Chesnutt, Lew...","133005, 133006, 133007","(American, 1861–1934) (American, 1860–1933)",() (American) (American),(0) (1861) (1860),(0) (1934) (1933),() (Male) (Male),c. 1890,Gelatin silver print,...,http://www.moma.org/media/W1siZiIsIjQ5MjcyMiJd...,NaN,NaN,NaN,10.795022,NaN,NaN,16.510033,NaN,NaN
138147,Plate (folio 2 verso) from Muscheln und schirm...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,http://www.moma.org/media/W1siZiIsIjQ4NTExNSJd...,NaN,NaN,NaN,13.500000,NaN,NaN,10.000000,NaN,NaN
138148,Plate (folio 6) from Muscheln und schirme (She...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,http://www.moma.org/media/W1siZiIsIjQ4NTExOCJd...,NaN,NaN,NaN,13.500000,NaN,NaN,10.000000,NaN,NaN
138149,Plate (folio 12) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,http://www.moma.org/media/W1siZiIsIjQ4NTEyMCJd...,NaN,NaN,NaN,11.000000,NaN,NaN,10.000000,NaN,NaN
138150,Plate (folio 16) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,5777,"(Swiss, 1889–1943)",(Swiss),(1889),(1943),(Female),1939,One from an illustrated book with four line bl...,...,http://www.moma.org/media/W1siZiIsIjQ4NTEyMSJd...,NaN,NaN,NaN,13.500000,NaN,NaN,10.000000,NaN,NaN

In [12]:
# You can also view the "shape" of the Dataframe
# This tells you how many rows and columns there are
art_csv.shape

(138151, 29)

In [17]:
# A Series is a one-dimensional array, or one column of data
# When we take one column of a DataFrame, it is represented as a Series
artist = art_csv['Artist']
type(artist)

pandas.core.series.Series

In [18]:
# Now that we have created a Series, let's look at the data:
artist

0                                               Otto Wagner
1                                  Christian de Portzamparc
2                                                Emil Hoppe
3                                           Bernard Tschumi
4                                                Emil Hoppe
                                ...
138146    Chesnutt Brothers Studio, Andrew Chesnutt, Lew...
138147                                   Sophie Taeuber-Arp
138148                                   Sophie Taeuber-Arp
138149                                   Sophie Taeuber-Arp
138150                                   Sophie Taeuber-Arp
Name: Artist, Length: 138151, dtype: object

In [19]:
# You can also see the shape of a Series
# Since a Series only has one column, it will tell you how many rows there are
artist.shape

(138151,)

In [20]:
# You can convert a Series to a list with to_list()
artist.to_list()

['Otto Wagner',
 'Christian de Portzamparc',
 'Emil Hoppe',
 'Bernard Tschumi',
 'Emil Hoppe',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Louis I. Kahn',
 'Bernard Tschumi',
 'Marcel Kammerer',
 'Bernard Tschumi',
 'Otto Schönthal',
 'Bernard Tschumi',
 'Otto Schönthal',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Bernard Tschumi',
 'Hans Poelzig',
 'Raimund Abraham',
 'Peter Eisenman, Robert Cole',
 'Rem Koolhaas, Madelon Vriesendorp',
 'Roger C. Ferri',
 'Bernard Tschumi',
 'Roger C. Ferri',
 'Bernard Tschumi',
 'Roger C. Ferri',
 'Michael Graves',
 'Michael Graves',
 'Michael Graves',
 'Michael Graves',
 'Aldo Rossi, Gianni Braghieri, M. Bosshard',
 'Ludwig Mies van der Rohe',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund, Sigurd Lewerentz',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund',
 'Paul Nelson, Frantz Jourdain, Oscar Nitzchke',
 'Paul Nelson, Frantz Jourdain, Oscar Nitzchke',
 'Paul Nelson, Oscar Nitzchke, Frantz Jourdain',
 'Paul Nelson, Frantz Jourdain, Oscar Nitzchke',
 'Steven Holl',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Paolo Soleri',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Steven Holl',
 'Erich Mendelsohn',
 'Paul Rudolph',
 'Erich Mendelsohn',
 'Paul Rudolph',
 'Erich Mendelsohn',
 'Paul Rudolph',
 'Erich Mendelsohn',
 'Erich Mendelsohn',
 'Erich Mendelsohn',
 'Erich Mendelsohn',
 'Erich Mendelsohn',
 'Peter Cook',
 'Diller + Scofidio, Elizabeth Diller, Ricardo Scofidio',
 'Zaha Hadid',
 'Fumihiko Maki',
 'Rem Koolhaas, Zoe Zenghelis, Elia Zenghelis, Madelon Vriesendorp',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Mario Bellini',
 'Venturi and Rauch, Robert Venturi, John Rauch',
 'Venturi and Rauch, Robert Venturi, John Rauch, Denise Scott Brown',
 'Venturi, Rauch and Scott Brown, Robert Venturi, John Rauch, Denise Scott Brown',
 'Venturi, Rauch and Scott Brown, Robert Venturi, John Rauch, Denise Scott Brown',
 'Venturi, Rauch and Scott Brown, Robert Venturi, John Rauch, Denise Scott Brown',
 'Emilio Ambasz',
 'Raimund Abraham',
 'Tadao Ando',
 'Tadao Ando',
 'Tadao Ando',
 'Tadao Ando',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Theo van Doesburg, Cornelis van Eesteren',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Arata Isozaki',
 'Bernard Tschumi',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Roberto Burle Marx, Oscar Niemeyer',
 'Roberto Burle Marx, Oscar Niemeyer',
 'Neil M. Denari',
 'Ludwig Mies van der Rohe',
 'David Jacob',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'R. Buckminster Fuller',
 'Mario Botta',
 'R. Buckminster Fuller',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Mario Botta',
 'Frank Lloyd Wright',
 'Alessandro Mendini',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Roberto Burle Marx',
 'Herbert Bayer',
 'Leon Krier',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Daniel Libeskind',
 'Thom Mayne, Andrew Zago',
 'Thom Mayne, Andrew Zago',
 'Thom Mayne, Andrew Zago',
 'Morphosis, Santa Monica, CA, Thom Mayne, Andrew Zago',
 'Rem Koolhaas, Elia Zenghelis, Zoe Zenghelis, Madelon Vriesendorp',
 'Aldo Rossi',
 'Joel Sanders',
 'Joel Sanders',
 'Massimo Scolari',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Raimund Abraham',
 'Raimund Abraham',
 'Kenneth Snelson',
 'Erik Gunnar Asplund',
 'Erik Gunnar Asplund, Sigurd Lewerentz',
 'Ernesto Bruno La Padula, Giovanni Guerrini, Mario Romano',
 'Leon Krier',
 'Leon Krier',
 'Leon Krier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Richard Meier',
 'Ernesto Bruno La Padula, Giovanni Guerrini, Mario Romano',
 'Ernesto Bruno La Padula, Giovanni Guerrini, Mario Romano',
 'Ernesto Bruno La Padula, Giovanni Guerrini, Mario Romano, Mario Romano, Giovanni Guerrini',
 'Raimund Abraham',
 'Emilio Ambasz',
 'Emilio Ambasz',
 'Tadao Ando',
 'Tadao Ando',
 'Tadao Ando',
 'Tadao Ando',
 'Raimund Abraham',
 'Tadao Ando',
 'Rafael Viñoly',
 'Mario Bellini',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Mario Bellini',
 'Rafael Viñoly',
 'Mario Botta',
 'Santiago Calatrava',
 'Santiago Calatrava',
 'Norman Foster',
 'Norman Foster',
 'Norman Foster',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Zaha Hadid',
 'Louis I. Kahn, Ann Tyng',
 'Arata Isozaki',
 'Ludwig Mies van der Rohe',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Frederick Kiesler',
 'Louis I. Kahn',
 'Frederick Kiesler',
 'Louis I. Kahn',
 'Frederick Kiesler',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Frederick Kiesler',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Raimund Abraham',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Emilio Ambasz',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Emilio Ambasz',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Jason Crum',
 'Emilio Ambasz',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Jason Crum',
 'Tadao Ando',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Jason Crum',
 'Mario Bellini',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Konrad Wachsmann',
 'Ricardo Bofill',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Mario Botta',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Diller + Scofidio, Elizabeth Diller, Ricardo Scofidio',
 'Rem Koolhaas, Elia Zenghelis, Madelon Vriesendorp, Zoe Zenghelis',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Frank O. Gehry',
 'Leon Krier',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Wolf D. Prix, Helmut Swiczinsky',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Chuck Hoberman',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Steven Holl',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Hans Hollein',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Leon Krier',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Scott Marble, Karen Fairbanks',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill, Gregory Baird, Rogelio Jimenez',
 'Yoshito Takahashi',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Bernard Tschumi',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Rafael Viñoly',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Ricardo Bofill',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Theo van Doesburg',
 'Ricardo Bofill',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Theo van Doesburg',
 'Ricardo Bofill',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Ricardo Bofill',
 'Cesar Pelli',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Ricardo Bofill',
 'Paul Rudolph',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Iakov Chernikhov',
 'Wolf D. Prix, Helmut Swiczinsky',
 'Robert A. M. Stern',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Leon Krier',
 'Venturi and Rauch, John Rauch, Robert Venturi',
 'James Wines, Alison Sky, Michelle Stone, Emilio Sousa',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Leon Krier',
 'Harry C. Wolf',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'James Stirling',
 'Leon Krier',
 'Mehrdad Yazdani',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Leon Krier',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Le Corbusier (Charles-Édouard Jeanneret)',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Paul Rudolph',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Paul Rudolph',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Paul Rudolph',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Paul Rudolph',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'Oscar Nitzchke, Hugo Herdeg',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Oscar Nitzchke',
 'Louis I. Kahn',
 'Edward Larrabee Barnes',
 'Louis I. Kahn',
 'Rem Koolhaas, Götz Keller, Willem Jan Neutelings, Brigitte Kochta, Marty Kohn, Luc Reuse, Ron Steiner, Jeroen Thomas, Garciella Torre',
 'Louis I. Kahn',
 'Kisho Kurokawa',
 'Louis I. Kahn',
 'Kisho Kurokawa',
 'Louis I. Kahn',
 'Bernard Tschumi',
 'Louis I. Kahn',
 'Santiago Calatrava',
 'Louis I. Kahn',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Mario Botta',
 'Hans Hollein',
 'Louis I. Kahn',
 'Hans Hollein',
 'Louis I. Kahn',
 'Emilio Ambasz',
 'Emilio Ambasz',
 'Emilio Ambasz',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Ludwig Mies van der Rohe',
 'Frank Lloyd Wright',
 'Ludwig Mies van der Rohe',
 'Frank Lloyd Wright',
 'Frank Lloyd Wright',
 'Richard Neutra',
 'Richard Neutra',
 'Wiel Arets',
 'Herzog & de Meuron, Basel, Jacques Herzog, Pierre de Meuron',
 'Ludwig Mies van der Rohe',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Steven Holl',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Toyo Ito',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Rem Koolhaas',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Dominique Perrault Architecture, Paris, Dominique Perrault',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Gaetano Pesce',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Joel Sanders',
 'Joel Sanders, Architect, Joel Sanders',
 'Joel Sanders',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Taniguchi & Associates, Yoshio Taniguchi',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Bernard Tschumi Architects',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Rafael Viñoly Architects',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Emilio Ambasz',
 'Tod Williams Billie Tsien and Associates',
 'Skidmore Owings & Merrill, Gordon Bunshaft',
 'Erik Gunnar Asplund',
 'Frank O. Gehry',
 'Richard Meier',
 'Richard Meier',
 'Hans Hollein',
 'Hans Hollein',
 'Walter Pichler',
 'Walter Pichler',
 'Walter Pichler',
 'Walter Pichler',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Louis I. Kahn',
 'Louis I. Kahn',
 'SITE, James Wines',
 'SITE, James Wines',
 'SITE, James Wines',
 'SITE, James Wines',
 'SITE, James Wines',
 'Frank Lloyd Wright',
 'John Hejduk',
 'John Hejduk',
 'John Hejduk',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Ludwig Mies van der Rohe',
 'Raimund Abraham',
 'Raimund Abraham',
 'Emilio Ambasz',
 'Andrea Branzi',
 'Peter Cook',
 'Peter Cook',
 'Peter Cook',
 'Peter Cook',
 'Peter Eisenman',
 'Yona Friedman',
 'Yona Friedman',
 'R. Buckminster Fuller',
 'R. Buckminster Fuller',
 'R. Buckminster Fuller',
 'R. Buckminster Fuller',
 'R. Buckminster Fuller',
 'R. Buckminster Fuller',
 'John Hejduk',
 'John Hejduk',
 'John Hejduk',
 'Ron Herron',
 'Ron Herron',
 'Arata Isozaki',
 'Arata Isozaki',
 'Rem Koolhaas, Elia Zenghelis',
 'Rem Koolhaas, Zoe Zenghelis',
 'Rem Koolhaas, Madelon Vriesendorp',
 'Leon Krier',
 'Leon Krier',
 'Leon Krier',
 'Leon Krier',
 'Leon Krier',
 'Leon Krier',
 'Rodolfo Machado, Jorge Silvetti',
 'Rodolfo Machado, Jorge Silvetti',
 'Alessandro Mendini',
 'Alessandro Mendini',
 'Max Peintner',
 'Gaetano Pesce',
 'Gaetano Pesce',
 'Gaetano Pesce',
 'Gaetano Pesce',
 'Gaetano Pesce',
 'Walter Pichler',
 'Walter Pichler',
 'Walter Pichler',
 'Walter Pichler',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'R. Buckminster Fuller, Shoji Sadao',
 'Cedric Price',
 'Friedrich St. Florian',
 'Friedrich St. Florian',
 'Cedric Price',
 'Superstudio, Gian Piero Frassinelli, Alessandro Magris, Roberto Magris, Adolfo Natalini, Cristiano Toraldo di Francia, Alessandro Poli',
 'Cedric Price',
 'Lauretta Vinciarelli',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Cedric Price',
 'Aldo Rossi, Gianni Braghieri',
 'Aldo Rossi, Gianni Braghieri',
 'Aldo Rossi, Gianni Braghieri',
 'Aldo Rossi, J. da Nobrega, J. Charters',
 'Aldo Rossi, J. da Nobrega, J. Charters',
 'Raimund Abraham',
 'Aldo Rossi, Gianni Braghieri',
 'Raimund Abraham',
 'Aldo Rossi, Gianni Braghieri',
 'Raimund Abraham',
 'Aldo Rossi, Gianni Braghieri',
 'Raimund Abraham',
 'Paul Rudolph',
 'Raimund Abraham',
 'Friedrich St. Florian',
 'Friedrich St. Florian',
 'Friedrich St. Florian',
 'Friedrich St. Florian',
 'Raimund Abraham',
 'Friedrich St. Florian',
 'Raimund Abraham',
 'Massimo Scolari',
 'Massimo Scolari',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Ettore Sottsass',
 'Superstudio, Cristiano Toraldo di Francia, Gian Piero Frassinelli, Alessandro Magris, Roberto Magris, Adolfo Natalini',
 'Superstudio, Gian Piero Frassinelli, Alessandro Magris, Roberto Magris, Adolfo Natalini, Cristiano Toraldo di Francia',

### Exploring your data

Now that we have our data, we can use Pandas to explore our data for analysis. This can be useful if you are new to a dataset to see what's there and how you should start analyzing.

#### View DataFrame column labels

Our DataFrame has 92 columns. We can quickly view the label names for each column using the DataFrame `columns` property.

In [21]:
# View column labels (headers)
art_csv.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

#### View summaries of a DataFrame

We can quickly generate summaries of our DataFrame to observe some basic statistics and information such as column data types and non-null value counts.

In [22]:
# Get summary statistics of DataFrame columns using "describe()" (only includes
# numerical data types)
art_csv.describe()

,ObjectID,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
count,138151.000000,10.000000,13839.000000,1462.000000,120355.000000,742.000000,290.000000,119434.000000,0.0,2.140000e+03
mean,97170.256618,44.868020,16.353863,23.094845,37.456124,89.687579,1283.674965,37.973398,NaN,6.156488e+03
std,81950.720570,28.631604,54.495960,44.626483,49.604159,329.428165,12017.504240,67.277097,NaN,1.371250e+05
min,2.000000,9.900000,0.000000,0.635000,0.000000,0.000000,0.090000,0.000000,NaN,0.000000e+00
25%,36671.500000,23.500000,0.000000,7.778800,17.938786,17.100000,5.726700,17.500000,NaN,1.200000e+02
50%,73896.000000,36.000000,0.317501,13.652500,27.800000,26.700000,20.185100,25.400051,NaN,4.330000e+02
75%,141636.500000,71.125000,9.842510,24.980950,43.900000,79.700000,77.678500,44.200000,NaN,1.620000e+03
max,419289.000000,83.800000,1808.483617,914.400000,9140.000000,8321.056600,185067.585957,9144.000000,NaN,6.283065e+06

In [26]:
# Get summary statistics of single column using "describe()"
art_csv['Artist'].describe()

count           136868
unique           13684
top       Eugène Atget
freq              5050
Name: Artist, dtype: object

In [27]:
# Summarize column data types, non-null values, and memory usage using "info()"
art_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138151 entries, 0 to 138150
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Title               138112 non-null  object
 1   Artist              136868 non-null  object
 2   ConstituentID       136868 non-null  object
 3   ArtistBio           132226 non-null  object
 4   Nationality         136868 non-null  object
 5   BeginDate           136868 non-null  object
 6   EndDate             136868 non-null  object
 7   Gender              136868 non-null  object
 8   Date                135949 non-null  object
 9   Medium              128450 non-null  object
 10  Dimensions          128397 non-null  object
 11  CreditLine          135714 non-null  object
 12  AccessionNumber     138151 non-null  object
 13  Classification      138151 non-null  object
 14  Department          138151 non-null  object
 15  DateAcquired        131026 non-null  object
 16  Cataloged           138151 non-null  object
 17  ObjectID            138151 non-null  int64
 18  URL                 87184 non-null   object
 19  ThumbnailURL        76409 non-null   object
 20  Circumference (cm)  10 non-null      float64
 21  Depth (cm)          13839 non-null   float64
 22  Diameter (cm)       1462 non-null    float64
 23  Height (cm)         120355 non-null  float64
 24  Length (cm)         742 non-null     float64
 25  Weight (kg)         290 non-null     float64
 26  Width (cm)          119434 non-null  float64
 27  Seat Height (cm)    0 non-null       float64
 28  Duration (sec.)     2140 non-null    float64
dtypes: float64(9), int64(1), object(19)
memory usage: 30.6+ MB

#### Referencing and indexing a DataFrame

Referencing Rows

In [33]:
# Reference a row by index label
# Returns a Series

# Access first row of wl_strikes_csv by index label
# In this case the index label is 0
art_csv.loc[0]

# Access first row of wl_strikes_json by index label
# In this case the index label is not 0
# wl_strikes_json.loc[0]
# wl_strikes_json.loc[1080125]
# TODO - add JSON example here

Title                 Ferdinandsbrücke Project, Vienna, Austria (Ele...
Artist                                                      Otto Wagner
ConstituentID                                                      6210
ArtistBio                                         (Austrian, 1841–1918)
Nationality                                                  (Austrian)
BeginDate                                                        (1841)
EndDate                                                          (1918)
Gender                                                           (Male)
Date                                                               1896
Medium                    Ink and cut-and-pasted painted pages on paper
Dimensions                           19 1/8 x 66 1/2" (48.6 x 168.9 cm)
CreditLine            Fractional and promised gift of Jo Carole and ...
AccessionNumber                                                885.1996
Classification                                             Architecture
Department                                        Architecture & Design
DateAcquired                                                 1996-04-09
Cataloged                                                             Y
ObjectID                                                              2
URL                              http://www.moma.org/collection/works/2
ThumbnailURL          http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...
Circumference (cm)                                                  NaN
Depth (cm)                                                          NaN
Diameter (cm)                                                       NaN
Height (cm)                                                        48.6
Length (cm)                                                         NaN
Weight (kg)                                                         NaN
Width (cm)                                                        168.9
Seat Height (cm)                                                    NaN
Duration (sec.)                                                     NaN
Name: 0, dtype: object

In [34]:
# Reference multiple rows by index label (in this case the index label 0 through 2)
# Returns a DataFrame
art_csv.loc[0:2]

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN

In [35]:
# Reference a row or multiple rows by zero-based integer position

# Access first row of wl_strikes_csv by row integer value
# In this case the row is row 0
art_csv.iloc[0]

# Access first row of wl_strikes_json by row integer value
# In this case the row is also row 0
# wl_strikes_json.iloc[0]

# TODO - add JSON example

Title                 Ferdinandsbrücke Project, Vienna, Austria (Ele...
Artist                                                      Otto Wagner
ConstituentID                                                      6210
ArtistBio                                         (Austrian, 1841–1918)
Nationality                                                  (Austrian)
BeginDate                                                        (1841)
EndDate                                                          (1918)
Gender                                                           (Male)
Date                                                               1896
Medium                    Ink and cut-and-pasted painted pages on paper
Dimensions                           19 1/8 x 66 1/2" (48.6 x 168.9 cm)
CreditLine            Fractional and promised gift of Jo Carole and ...
AccessionNumber                                                885.1996
Classification                                             Architecture
Department                                        Architecture & Design
DateAcquired                                                 1996-04-09
Cataloged                                                             Y
ObjectID                                                              2
URL                              http://www.moma.org/collection/works/2
ThumbnailURL          http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...
Circumference (cm)                                                  NaN
Depth (cm)                                                          NaN
Diameter (cm)                                                       NaN
Height (cm)                                                        48.6
Length (cm)                                                         NaN
Weight (kg)                                                         NaN
Width (cm)                                                        168.9
Seat Height (cm)                                                    NaN
Duration (sec.)                                                     NaN
Name: 0, dtype: object

In [36]:
# Reference multiple rows by row number (in this case rows 0 through 2)
# Note that this time the range doesn't include the stop number
art_csv.iloc[0:3]

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN

Referencing Columns

In [37]:
# Referencing a column by column label (in this case, "INDX_NR")
art_csv['ArtistBio']

0                               (Austrian, 1841–1918)
1                                 (French, born 1944)
2                               (Austrian, 1876–1957)
3           (French and Swiss, born Switzerland 1944)
4                               (Austrian, 1876–1957)
                             ...
138146    (American, 1861–1934) (American, 1860–1933)
138147                             (Swiss, 1889–1943)
138148                             (Swiss, 1889–1943)
138149                             (Swiss, 1889–1943)
138150                             (Swiss, 1889–1943)
Name: ArtistBio, Length: 138151, dtype: object

In [39]:
# Referencing multiple columns by a list of column labels 
# (in this case, the columns "INDX_NR" and "AIRPORT")
art_csv[['Artist', 'ArtistBio']]

,Artist,ArtistBio
0,Otto Wagner,"(Austrian, 1841–1918)"
1,Christian de Portzamparc,"(French, born 1944)"
2,Emil Hoppe,"(Austrian, 1876–1957)"
3,Bernard Tschumi,"(French and Swiss, born Switzerland 1944)"
4,Emil Hoppe,"(Austrian, 1876–1957)"
...,...,...
138146,"Chesnutt Brothers Studio, Andrew Chesnutt, Lew...","(American, 1861–1934) (American, 1860–1933)"
138147,Sophie Taeuber-Arp,"(Swiss, 1889–1943)"
138148,Sophie Taeuber-Arp,"(Swiss, 1889–1943)"
138149,Sophie Taeuber-Arp,"(Swiss, 1889–1943)"
138150,Sophie Taeuber-Arp,"(Swiss, 1889–1943)"

Referencing both rows and columns

In [42]:
# Referencing a subset of rows and columns using index and column labels
# Note that we're using a range of column labels instead of a list
# Make sure that your column range starts with the leftmost label
art_csv.loc[:9, 'Title':'ArtistBio']

,Title,Artist,ConstituentID,ArtistBio
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)"
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)"
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)"
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)"
5,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"
6,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"
7,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"
8,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"
9,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)"

### Writing data to a file

In [ ]:
# Save the subset from the previous cell in a variable
first_ten = art_csv.loc[:9, 'Title':'ArtistBio']

# Write to csv
first_ten.to_csv("new_data.csv")

In [ ]:
#Write to an Excel file
first_ten.to_excel("new_data.xls")

In [ ]:
# Write to a JSON file
first_ten.to_json("new_data.json")

----
## Open work time
You can use this time to ask questions, collaborate, or work on the following activities (on your own or in a group).

### Exercise 1: Read in an Excel file
Take this Excel file, read it into a DataFrame, and print out the first five rows of the DataFrame.



> Hint: the syntax is very similar to reading a .csv file.



Link to the file: https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2000-2009.xlsx?raw=true

In [ ]:
# Save the url as a variable
xls_file_url = 'https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2000-2009.xlsx?raw=true'

# Read the file in
wl_strikes_xls = pd.read_excel(xls_file_url)

# View the file
wl_strikes_xls.head()

   INDX_NR INCIDENT_DATE   ...     LUPDATE  TRANSFER
0   707074     2009-12-24  ...  2010-04-29     False
1   707361     2009-12-13  ...  2010-04-29     False
2   707050     2009-12-11  ...  2010-04-08     False
3   707146     2009-12-10  ...  2010-08-19     False
4   707624     2009-12-08  ...  2010-04-29     False

[5 rows x 92 columns]

### Exercise 2: Indexing cells

Use referencing and indexing to answer the following questions by finding the data in the rows, columns, and/or cells.

#### 2a. Time of day
Airlines are interested in when they should schedule flights to minimize collisions. What is the time of day for each incident? Create a `Series` of the time of day (`TIME_OF_DAY`)

In [ ]:
# 2a. Create a `Series` of the time of day (`TIME_OF_DAY`)
time_of_day = wl_strikes_csv['TIME_OF_DAY']

# Print new Series
time_of_day

0        Day
1        Day
2        Day
3       Dusk
4        NaN
       ...
664      Day
665      Day
666      Day
667    Night
668     Dusk
Name: TIME_OF_DAY, Length: 669, dtype: object

#### 2b. Date and time
We want to find out when most of these collisions occur. What is the exact date and time of each incident? Print the third, fourth, and fifth columns from the data (`INCIDENT_MONTH`,	`INCIDENT_YEAR`, and	`TIME`).

In [ ]:
# 2b. Print the third, fourth, and fifth columns from the data 
# (`INCIDENT_MONTH`, `INCIDENT_YEAR`, and `TIME`).
wl_strikes_csv[['INCIDENT_MONTH', 'INCIDENT_YEAR', 'TIME']]

     INCIDENT_MONTH  INCIDENT_YEAR   TIME
0                12           1999  10:15
1                12           1999
2                12           1999  07:40
3                12           1999  17:00
4                12           1999
..              ...            ...    ...
664               6           1990
665               5           1990  11:35
666               4           1990
667               3           1990  21:30
668               1           1985

[669 rows x 3 columns]

#### 2c. Access the 126th row

Use row indexing to find the data in the 126th row in the `wl_strikes_json` DataFrame. Check that your result is correct by making sure your `INCIDENT_DATE` value is `2020-07-17`.

> Tip: Remember that the integer-based row location is zero based

In [ ]:
# 2c. Access the 126th row from the 'wl_strikes_json` DataFrame
wl_strikes_json.iloc[125]

INCIDENT_DATE            2020-07-17
INCIDENT_MONTH                    7
INCIDENT_YEAR                  2020
TIME                          06:00
TIME_OF_DAY                     Day
                        ...
REPORTER_TITLE             REDACTED
SOURCE            FAA Form 5200-7-E
PERSON                        Pilot
LUPDATE                  2020-08-05
TRANSFER                      False
Name: 1008687, Length: 91, dtype: object

#### 2d. Cloud cover
A particular airline has nine flights that they want to compare to see if the cloud cover in the area had anything to do with the collision. Print rows 60-65 and the columns `INDX_NR`, `SKY`, `PHASE_OF_FLIGHT`, and `AIRPORT`

In [ ]:
# 2d. Print rows 60-65 and the columns 'INDX_NR', 'SKY', 'PHASE_OF_FLIGHT', and
# 'AIRPORT'
cloud_cover = wl_strikes_csv.loc[60:65, ['INDX_NR', 'SKY', 'PHASE_OF_FLIGHT', 'AIRPORT']]
cloud_cover

    INDX_NR  ...                                      AIRPORT
60   631616  ...                          RALEIGH-DURHAM INTL
61   627351  ...  KINSTON REGIONAL JETPORT AT STALLINGS FIELD
62   635160  ...                          PIEDMONT TRIAD INTL
63   626190  ...                          RALEIGH-DURHAM INTL
64   635214  ...                               ALBERT J ELLIS
65   634350  ...                          RALEIGH-DURHAM INTL

[6 rows x 4 columns]

### Exercise 3: Write to a file
Take the your result in exercise 2d. (or another DataFrame you have created), and write it to a .csv file.

In [ ]:
# Write to a new .csv file
cloud_cover.to_csv("exercise3.csv")

## Further resources

### Filled version of this notebook

[Python Open Labs Week 1 filled notebook](https://colab.research.google.com/github/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/Reading_exploring_and_writing_data_with_Pandas/Python_Open_Labs_Week1_filled.ipynb) - a version of this notebook with all code filled in for the guided activity and exercises. TODO - update link

### Learning resources

- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html) - a free, online version of Jake VanderPlas' introduction to data science with Python, includes a chapter on data manipulation with pandas.
- [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) - a website providing a great overview of conducting data science with Python including pandas.
- [Real Python](https://realpython.com/) contains a lot of different tutorials at different levels
- [LinkedIn Learning](https://www.lynda.com/Python-training-tutorials/415-0.html) is free with NC State accounts and contains several video series for learning Python
- [Dataquest](https://www.dataquest.io/) is a free then paid series of courses with an emphasis on data science

### Finding help with pandas

The [Pandas website](https://pandas.pydata.org/) and [online documentation](http://pandas.pydata.org/pandas-docs/stable/) are useful resources, and of course the indispensible [Stack Overflow has a "pandas" tag](https://stackoverflow.com/questions/tagged/pandas).  There is also a (much younger, much smaller) [sister site dedicated to Data Science questions that has a "pandas" tag](https://datascience.stackexchange.com/questions/tagged/pandas) too.

## Evaluation Survey
Please, spend 1 minute answering these questions that help improve future workshops.

https://go.ncsu.edu/dvs-eval

## Credits

This workshop was created by Claire Cahoon and Walt Gurley, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.